// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mod aliases
#define HRM_A    &st LALT  A
#define HRM_S    &st LCTRL S
#define HRM_D    &qt LSHFT D
#define HRM_F    &st LGUI  F
#define HRM_J    &st LGUI  J
#define HRM_K    &mt LSHFT K
#define HRM_L    &st LCTRL L
#define HRM_SEMI &st LALT  SEMI

// Key aliases
#define VOLUP C_VOL_UP
#define VOLDN C_VOL_DN
#define MUTE C_MUTE


/ {
    behaviors {
        qt: quick_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
            display-name = "Mod-Tap";
        };

        st: slow_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
            display-name = "Mod-Tap";
        };

        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        flashing {
            if-layers = <2 3>;
            then-layer = <4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
               &kp Q     &lt 1 W   &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
               HRM_A     HRM_S     HRM_D     HRM_F     &kp G     &kp H     HRM_J     HRM_K     HRM_L     HRM_SEMI
               &kp Z     &kp X     &kp C     &lt 2 V   &kp B     &kp N     &lt 3 M   &kp COMMA &kp DOT   &kp FSLH
                                             &kp TAB   &kp ESC   &kp SPACE &bspc_del
            >;
        };

        numpad {
            bindings = <
               &none     &none     &none     &none     &none     &none     &kp N7    &kp N8    &kp N9    &kp MINUS
               &kp LALT  &kp LCTL  &kp LSHFT &kp LGUI  &none     &none     &kp N4    &kp N5    &kp N6    &kp EQUAL
               &none     &none     &none     &none     &none     &none     &kp N1    &kp N2    &kp N3    &none
                                             &none     &none     &kp N0    &none
            >;
        };

        arrows {
            bindings = <
               &none     &none     &none     &none     &none     &kp HOME  &kp PG_DN &kp PG_UP &kp END   &none
               &kp LALT  &kp LCTL  &kp LSHFT &kp LGUI  &none     &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &none
               &none     &none     &none     &mo 3     &none     &kp MUTE  &kp VOLDN &kp VOLUP &kp C_PP  &none
                                             &none     &none     &kp ENTER &none
            >;
        };

        brackets {
            bindings = <
               &kp LBKT  &kp RBKT  &kp LBRC  &kp RBRC  &none     &none     &none     &none     &none     &none
               &kp DQT   &kp  SQT  &kp LPAR  &kp RPAR  &none     &none     &kp LGUI  &kp LSHFT &kp LCTL  &kp LALT
               &kp GRAVE &none     &kp BSLH  &none     &none     &none     &mo 2     &none     &none     &none
                                             &none     &none     &none     &none
            >;
        };

        flashing {
            bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
//│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
   &sys_reset  &none      &none      &none     &bt BT_SEL 0    &none      &none      &none      &none     &sys_reset
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
//│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
  &bootloader  &none      &none      &none     &bt BT_SEL 1    &none      &none      &none      &none     &bootloader
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
//│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
&studio_unlock &none      &none     &bt BT_CLR &bt BT_SEL 2    &none      &none      &none      &none      &none
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     &none      &none          &none      &none
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
